@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    transition: 1s;
}

.text{
    color: #3d3c3cb8;
    color: #0f301add;
}

.lne{
    /* line-height: 20px; */
    transform: rotateY(180deg);
}